.anim {
  width: 100%;
  height: 40vh;
}
body {
  background: black;
}
#ot-load-circle {
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}
.ot-loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: ot-load-rotate 5s linear infinite;
}

@keyframes ot-load-rotate {
  100% { transform: rotate(360deg); }
}


  @media only screen and (max-width: 550px) {
    .anim {
      width: 100%;
      height: 20vh;
    }

    #ot-load-circle {
      position: absolute;
      top: 49vh !important;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
    }
  }
